.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.card-icon i {
    font-size: 50px;
    color: #0d6efd;
}

.card-title-service {
    font-size: larger;
    font-weight: 900;
}

.card:hover {
    background-color: #efefef;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}