.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.link-address {
    color: #000;
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
}

.contact-address,
h2 {
    font-weight: 400;
}

h1 {
    font-weight: bold;
}

.main-header p {
    font-size: medium;
    text-transform: none;
}

@media (max-width: 768px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        box-sizing: border-box;
    }

    .contact-address {
        width: auto;
    }

}