form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input,
textarea {
    width: 100%;
    margin: 1px;
    border-radius: 5px;
    border-color: lightgrey;
    padding-left: 5px;
}

.btnform {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 5px;
    margin-left: 15rem;
    width: 6rem;
}