.home2 {
    display: flex;
    max-width: 75rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.skill {
    margin-left: 2rem;
}

h2 {
    font-size: x-large;
    font-weight: bolder;
}

hr {
    width: 35rem;
    height: 3px;
    background-color: #0d6efd;
    border: none;
    margin-bottom: 1.25rem;
}

img {
    width: 35rem;
}

.p-about {
    text-transform: none;
    margin-top: 1.25rem;
    padding-bottom: 1.25rem;
}

@media (max-width: 768px) {
    .home2 {
        flex-direction: column;
        text-align: left;
        box-sizing: border-box;
    }

    .skill {
        width: 100%;
        margin-bottom: 20px;
        margin-left: -5px;
    }

    img,
    hr {
        width: 100%;
    }
}