.modal-content {
    background-color: #000;
    color: #fff;
}

button {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: none;
}

.button-modal {
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin: 0;
}